.content-container {
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: black;
  overflow: hidden;
}

.content {
  height: 100vh;
  width: 100%;
  overflow: overlay;
  padding: 2vh 5vh;
}
