<nav>
  <div class="img-container">
    <a routerLink="/">
      <img [src]="cruzLogoTransparent" alt="Logo for portfolio" />
    </a>
  </div>
  <div
    class="links-container"
    (mouseenter)="mouseOver()"
    (mouseleave)="mouseOver()"
  >
    <div
      class="line"
      [class]="isLinkOut() ? 'show' : 'hide'"
      [style]="{ top: activeLinkUnderline() }"
      *ngIf="activeLinkUnderline()"
    ></div>
    <a
      *ngFor="let link of headerService.links"
      [href]="link !== 'Blog' ? '#' + link.toLowerCase() : '/blog'"
      (mouseenter)="activeLink(link)"
      (click)="activeLink(link)"
      >{{ link | uppercase }}</a
    >
  </div>
</nav>

<div id="hovered">hovered</div>
