<header
  [style]="{
    'background-color': backgroundColor,
    'box-shadow': boxShadow ? '0 0 5px rgba(0, 0, 0, 0.193)' : 'none'
  }"
>
  <div class="image-container">
    <a routerLink="/"><img [src]="imageSrc" alt="cruz logo home" /></a>
  </div>

  <nav
    id="navigation"
    data-visible="false"
    [ngClass]="headerService.navBarActive ? 'active' : ''"
  >
    <a
      (click)="linkClicked()"
      [ngStyle]="{ color: linkColor }"
      class="link"
      [ariaHidden]="headerService.navBarActive"
      routerLink="/projects"
      routerLinkActive="active-link"
      >Projects</a
    >
    <a
      (click)="linkClicked()"
      [ngStyle]="{ color: linkColor }"
      class="link"
      [ariaHidden]="headerService.navBarActive"
      routerLink="/blog"
      routerLinkActive="active-link"
      >Blog</a
    >
    <a
      (click)="linkClicked()"
      [ngStyle]="{ color: linkColor }"
      class="link"
      [ariaHidden]="headerService.navBarActive"
      routerLink="/about"
      routerLinkActive="active-link"
      >About</a
    >
    <a
      (click)="linkClicked()"
      [ngStyle]="{ color: linkColor }"
      class="link"
      [ariaHidden]="headerService.navBarActive"
      routerLink="/contact"
      routerLinkActive="active-link"
      >Contact</a
    >
  </nav>

  <button
    [ngStyle]="{ color: menu }"
    aria-controls="navigation"
    (click)="toggleNav()"
    [ariaExpanded]="headerService.navBarActive"
  >
    <fa-icon *ngIf="!headerService.navBarActive" [icon]="faBars"></fa-icon>
    <fa-icon *ngIf="headerService.navBarActive" [icon]="faX"></fa-icon>
  </button>
</header>
