<header [style]="{ 'background-color': backgroundColor }">
  <div class="image-container">
    <img [src]="imageSrc" alt="" />
  </div>
  <button
    [ngStyle]="{ color: linkColor }"
    aria-controls="navigation"
    (click)="toggleNav($event)"
    [ariaExpanded]="activeNav"
  >
    <fa-icon *ngIf="!activeNav" [icon]="faBars"></fa-icon>
    <fa-icon *ngIf="activeNav" [icon]="faX"></fa-icon>
  </button>
  <nav
    id="navigation"
    data-visible="false"
    [ngClass]="activeNav ? 'active' : ''"
  >
    <a
      [ngStyle]="{ color: linkColor }"
      class="link"
      [ariaHidden]="activeNav"
      routerLink="/projects"
      routerLinkActive="active-link"
      >Projects</a
    >
    <a
      [ngStyle]="{ color: linkColor }"
      class="link"
      [ariaHidden]="activeNav"
      routerLink="/blog"
      routerLinkActive="active-link"
      >Blog</a
    >
    <a
      [ngStyle]="{ color: linkColor }"
      class="link"
      [ariaHidden]="activeNav"
      routerLink="/about"
      routerLinkActive="active-link"
      >About</a
    >
    <a
      [ngStyle]="{ color: linkColor }"
      class="link"
      [ariaHidden]="activeNav"
      routerLink="/contact"
      routerLinkActive="active-link"
      >Contact</a
    >
  </nav>
</header>
