header {
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
  box-shadow: 1px 1px 100px 1px white;
  align-items: center;
  overflow: hidden;
  z-index: 10000;
  position: fixed;
  height: 10vh;
  width: 100%;
  transition: 0.75s;
}

.image-container {
  position: relative;
  width: 200px;
  height: 50px;
  overflow: hidden;
}

img {
  width: 150px;
  position: absolute;
  top: -50px;
}

nav {
  display: flex;
  gap: 40px;
  align-items: center;
  height: 100%;
}

.link {
  text-decoration: none;
  font-weight: 600;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}

button {
  display: none;
  transition: 1s;
}

span {
  height: 5px;
}

.link.active-link {
  text-decoration: underline;
  text-underline-offset: 0.6em;
}

@media (max-width: 900px) {
  header {
    padding: 10px 5px;
  }
  nav {
    position: fixed;
    inset: 0 0 0 40%;
    flex-direction: column;
    gap: 2em;
    padding: min(30vh, 10rem) 2rem;
    background: rgba(255, 255, 255, 0.461);
    backdrop-filter: blur(1em);
    transform: translateX(100%);
    overflow-x: hidden;
    z-index: 10;
    transition: transform 0.2s ease-out;
  }

  .background-nav {
    position: fixed;
    width: 100%;
    inset: 0 0 0 0;
    backdrop-filter: blur(0.1em);
    background-color: rgba(0, 0, 0, 0.173);
    transition: 0.5s;
    opacity: 0;
    z-index: -1000;
    overflow-y: hidden;
  }

  .background-nav.active {
    opacity: 1;
    z-index: 1;
    overflow: hidden;
  }

  @keyframes blur {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  nav a {
    color: white;
  }

  nav.active {
    transform: translateX(0%);
    box-shadow: var(--shadow);
  }

  button {
    border: none;
    display: block;
    background-color: transparent;
    width: 2rem;
    z-index: 100;
    transition: 0.1s;
    margin-right: 1rem;
    cursor: pointer;
  }

  @supports (backdrop-filter: blur(1em)) {
    nav {
      background: rgba(255, 255, 255, 0.846);
      backdrop-filter: blur(0.5em);
    }
  }
}

@media (max-width: 380px) {
  button {
    right: 1rem;
  }
}
