header {
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.038);
  align-items: center;
  z-index: 10000;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

.image-container {
  position: relative;
  width: 200px;
  height: 50px;
  overflow: hidden;
}

img {
  width: 150px;
  position: absolute;
  top: -50px;
}

nav {
  display: flex;
  gap: 40px;
  align-items: center;
}

.link {
  text-decoration: none;
  font-weight: 600;
}

button {
  display: none;
}

span {
  height: 5px;
}

.link.active-link {
  text-decoration: underline;
  text-underline-offset: 0.6em;
}

@media (max-width: 900px) {
  nav {
    position: fixed;
    inset: 0 0 0 40%;
    flex-direction: column;
    gap: 2em;
    padding: min(30vh, 10rem) 2rem;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(1em);
    transform: translateX(100%);
    overflow-x: hidden;
    z-index: 10;
    transition: transform 0.3s ease-out;
  }

  nav a {
    color: white;
  }

  nav.active {
    transform: translateX(0%);
  }

  button {
    position: absolute;
    top: 1.8rem;
    z-index: 100;
    border: none;
    display: inline-block;
    right: 3rem;
    background-color: transparent;
    width: 2rem;
  }

  @supports (backdrop-filter: blur(1em)) {
    nav {
      background: hsl(0 0% 0% / 0.5);
      backdrop-filter: blur(0.5em);
    }
  }
}

@media (max-width: 380px) {
  header {
    padding: 10px 20px;
  }
  button {
    right: 2rem;
  }
}
