<header
  [style]="{
    'background-color': 'white',
    'box-shadow': '0 0 5px rgba(0, 0, 0, 0.193)',
    top: headerService.displayNavbar ? '0px' : '-12vh',
  }"
>
  <div class="image-container">
    <a routerLink="/"><img src="https://corderocruz-portfolio.s3.amazonaws.com/Cruz-logos_black.png" alt="cruz logo home" /></a>
  </div>

  <nav id="navigation" [ngClass]="navbarActive ? 'active' : ''">
    <a
      *ngFor="let link of headerService.links"
      (click)="linkClicked()"
      [ngStyle]="{ color: 'black' }"
      class="link"
      [ariaHidden]="navbarActive"
      [href]="link !== 'Blog' ? '#' + link.toLowerCase() : '/blog'"
      >{{ link }}</a
    >
  </nav>
  <div *ngIf="navbarActive" #backgroundNav class="background-nav" [ngClass]="navbarActive ? 'active' : ''"></div>

  <button [ngStyle]="{ color: 'black' }" aria-controls="navigation" (click)="toggleNav()" [ariaExpanded]="navbarActive">
    <fa-icon class="fa-xl" *ngIf="!navbarActive" [icon]="faBars"></fa-icon>
    <fa-icon class="fa-xl" *ngIf="navbarActive" [icon]="faX"></fa-icon>
  </button>
</header>
