<app-header
  [backgroundColor]="backgroundColor"
  [imageSrc]="imageSrc"
  [linkColor]="linkColor"
  [menu]="menu"
  [boxShadow]="boxShadow"
></app-header>

<div *ngIf="!(loading$ | async)" class="background-container">
  <div class="background"></div>
</div>

<div class="spinner-container" *ngIf="loading$ | async">
  <div class="spinner"></div>
</div>

<div *ngIf="!(loading$ | async)" class="contact-container">
  <div class="content-container">
    <div class="box">
      <h2>Reach me!</h2>

      <div class="reach-me-content">
        <div class="email-section">
          <h4>Email</h4>
          <a href="mailto:cruzcordero7600@gmail.com"
            >cruzcordero7600@gmail.com</a
          >
        </div>
        <div class="phone-section">
          <h4>Phone</h4>
          <a href="tel:9512617552">(951)-261-7552</a>
        </div>
        <div class="icon-section">
          <h4>Other ways to reach me!</h4>
          <div class="icons">
            <a href="#email" (click)="activateMail($event)"
              ><fa-icon
                class="fa-xl"
                [icon]="faMessage"
                style="color: rgb(0, 0, 0)"
              ></fa-icon
            ></a>
            <a href="https://github.com/CorderoCruz" target="_blank"
              ><fa-icon
                class="fa-xl"
                [icon]="faGithub"
                style="color: rgb(0, 0, 0)"
              ></fa-icon
            ></a>
            <a href=""
              ><fa-icon
                class="fa-xl"
                [icon]="faLinkedin"
                style="color: rgb(0, 0, 0)"
              ></fa-icon
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div #mail class="box  {{ activeMail ? 'active' : '' }}">
      <h2>Send me a message!</h2>
      <p
        [style]="{ color: contactForm.status === 'INVALID' ? 'red' : 'green' }"
      >
        All fields are required
      </p>
      <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
        <div class="input-section">
          <label for="name">Name</label>
          <input type="text" name="name" formControlName="name" />
          <p *ngIf="name?.touched && name?.invalid" style="color: red">
            Name is required
          </p>
        </div>
        <div class="input-section">
          <label for="email">Email</label>
          <input type="text" name="email" formControlName="email" />
          <p *ngIf="email?.touched && email?.invalid" style="color: red">
            Email is required
          </p>
        </div>
        <div class="input-section">
          <label for="subject">Subject</label>
          <input type="text" name="subject" formControlName="subject" />
          <p *ngIf="subject?.touched && subject?.invalid" style="color: red">
            Subject is required
          </p>
        </div>
        <div class="input-section">
          <label for="inquiry">Inquiry</label>
          <textarea
            type="text"
            name="inquiry"
            formControlName="inquiry"
          ></textarea>
          <p *ngIf="inquiry?.touched && inquiry?.invalid" style="color: red">
            Inquiry is required
          </p>
        </div>
        <button
          [style]="{
            'background-color': formSent
              ? 'green'
              : contactForm.status !== 'INVALID'
              ? 'black'
              : 'rgba(128, 128, 128, 0.464)',
            color: 'white'
          }"
          [disabled]="contactForm.status == 'INVALID' || formSent"
        >
          {{ formSent ? "Form Sent!" : "Submit" }}
        </button>
      </form>
    </div>
    <p class="hide">Psst... this is the email form!</p>
  </div>
</div>
