<div class="main-container">
  <app-sidenav *ngIf="!(isSM | async); else header"></app-sidenav>
  <ng-template #header class="header-container">
    <app-header [backgroundColor]="backgroundColor" [imageSrc]="imageSrc" [linkColor]="linkColor" [menu]="menu" [boxShadow]="boxShadow"></app-header>
  </ng-template>
  <div class="content">
    <div class="project-container" *ngIf="project$ | async as project">
      <div class="project-content">
        <h2 id="{{ project.id }}">{{ project.title }}</h2>
        <div class="stack">
          <img class="tech-image" *ngFor="let tech of project.technologies" [src]="tech.imageLink" [alt]="tech.imageLink" title="{{ tech.name }}" />
          <a *ngIf="project.deployedLink" [href]="project.deployedLink">
            <img
              class="tech-image link"
              src="https://img.icons8.com/ios-filled/50/null/airplane-take-off.png"
              alt="link to deployed sit"
              title="Deployed link"
            />
          </a>
          <a *ngIf="project.repository" [href]="project.repository">
            <img
              class="tech-image link"
              src="https://img.icons8.com/ios-filled/50/null/source-code.png"
              alt="link to github repository"
              title="Github repository"
            />
          </a>
        </div>
        <p>
          {{ project.description }}
          <br />
        </p>

        <p>{{ project.responsibilities }}</p>
      </div>

      <div class="gallery" *ngIf="project.images.length">
        <div class="gallery-container">
          <h3 style="color: black; text-align: center">Gallery</h3>
          <img *ngFor="let image of project.images" [src]="image" alt="{{ image }}" />
        </div>
      </div>
    </div>
  </div>
</div>
