<div class="about-page-container" id="about" lazyLoading>
  <div class="main-content">
    <div class="text-container">
      <h2>About Me</h2>
      <div>
        <div *ngFor="let content of contents">
          <p class="tab" [innerHTML]="content.paragraph"></p>
          <br />
        </div>
        <div class="tech">
          <img *ngFor="let tech of aboutService.techs" title="{{ tech.name }}" [src]="tech.imageLink" [alt]="tech.name" />
        </div>
      </div>
    </div>
  </div>
</div>
