* {
  color: white;
}

.about-page-container {
  padding: 5vh 5vw;
  overflow: hidden;
  position: relative;
}

.main-content {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 4vh 4vw;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.text-container {
  width: 50%;
  z-index: 100;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}

.image-container {
  position: absolute;
  width: 700px;
  bottom: 0;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  z-index: 0;
  transform: translateY(10%) translateX(20%);
}

h2 {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.tab {
  font-weight: 500;
}

.tech {
  margin-top: 2vh;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.tech img {
  filter: grayscale(0);
  width: 35px;
}

@media (max-width: 900px) {
  .about-page-container {
    height: auto;
  }

  img {
    transform: translateY(10%) translateX(0);
  }
}

@media (max-width: 600px) {
  .text-container {
    width: 70%;
  }

  p {
    font-size: 90%;
  }

  img {
    transform: translateY(10%) translateX(-10%);
  }

  .tech img {
    width: 30px;
  }
}

@media (max-width: 500px) {
  img {
    transform: translateY(10%) translateX(-20%);
  }
}

@media (max-width: 400px) {
  .text-container p {
    font-size: 14px;
  }
  .tech img {
    width: 25px;
  }
}
