<div class="projects-container" id="projects">
  <div class="project-content">
    <div
      class="project"
      *ngFor="let project of projectService._projects | async"
      (mouseenter)="hoveredProject(project.id)"
      [style]="{
        'background-color':
          hovered === project.id ? 'white' : 'rgb(249, 249, 249)'
      }"
    >
      <div class="image-container">
        <img [src]="project.images[0]" alt="{{ project.images[0] }}" />
      </div>
      <div class="about-project">
        <h3>{{ project.title }}</h3>
        <p>
          {{ project.description }}
        </p>
        <div class="button-container">
          <a routerLink="project/{{ project.id }}"
            ><button
              [style]="{
                'background-color':
                  hovered === project.id ? 'black' : 'rgba(0, 0, 0, 0.828)'
              }"
            >
              Show more
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
